#infoSectionRoot {
   margin: auto;
   padding-top: 95px;
   width: fit-content;
}

.infoContainer {
   display: inline-block;
}

#infoContainer1 {
   padding-left: 100px;
}

.info-title {
   text-align: center;
}

.info-text {
   width: 550px;
   height: 18  0px;
   font-size: 20px;
   text-align: center;
}

.info-image {
   border-radius: 20px;
   height: 280px;
   width: 380px;
   display: flex;
   margin: auto;
   margin-bottom: 40px;
}

/* #faqRoot {

} */

#faq-title {
   text-align: center;
   background-color: #034c3c;
   border-radius: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   color: white; 
   max-width: 1200px;
   margin: auto;
}

#faq-text {
   display: flex;
   flex-direction: column;
   text-align: center;
   font-size: 20px;
}

#break {
   width: 1200px;
   height: 3px;
   display: flex;
   margin: auto;
}

.our-lama{
   text-align: center;
   background-color: #749C75;
   border-radius: 20px;
   margin: 10px;
   padding: 20px;
   color: #E3F2E0;

}

#termstext{
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 1000px;
   margin-left: 250px;
}