#productImg {
    display: flex;
    position: relative;
    padding-top: 75px;

}

#slidingPicture {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    min-height: 500px;
    max-height: 300px;
    /* min-width: 500px; */
    width: inherit;
    object-fit: cover;
    z-index: -1;
}

#profilePicture {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    z-index: -1;
}

#pad {
    margin-left: 1%;
    margin-top: 10%;
}

.lama {
    display: flex;
    margin-left: 400px;
    margin-right: 75px;
    margin-top: 150px;
    height: auto;
    width: auto;
}

.lamaInfo {
    margin-right: 75px;
    height: auto;
    width: auto;
}

.lamaOuterName {
    margin-right: 50px;
    border-radius: 20px;
    width: 200px;
    height: auto;
    background-color: #034C3C;
}

#lamaName {
    padding: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.lamaOuterPicture{
    margin-right: 50px;
}

.lamaOuterText {
    margin-right: 50px;
    height: 250px;
    width: 500px;
    border-radius: 20px;
    background-color: #034C3C;
}

#lamaText {
    padding: 10px;
    color: #FFFFFF;
}

.mySlides {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: rgb(21, 21, 21);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 40px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    margin-right: 300px;
    border-radius: 3px 0 0 3px;
}

.prev {
    margin-left: 300px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(54, 52, 52, 0.8);
}

.our-lama{
    text-align: center;
    background-color: #749C75;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    color: #E3F2E0;
    margin-top: 40px;
}